#apache/php
sf_web:
    build: docker/apache-php
    hostname: "sf3"
    container_name: "sf_web"
    ports:
        - 8080:80   #apache
        - 9001:9000 #xdebug
    volumes:
        - "./:/var/www/html"
    links:
        - db
        - elasticsearch
    environment:
        XDEBUG_CONFIG: remote_host=192.168.2.165
        PHP_IDE_CONFIG: serverName=sf-docker-localhost
        SSH_AUTH_SOCK: /ssh-agent


#mysql
db:
    image: mysql:latest
    container_name: "sf_db"
    ports:
    - 3306
    environment:
        MYSQL_DATABASE: sf3
        MYSQL_USER: sf3
        MYSQL_PASSWORD: sf3
        MYSQL_ROOT_PASSWORD: root
    volumes:
    - ./docker/data/sql:/var/lib/mysql
    - ./mysql/my.cnf:/etc/mysql/conf.d/z_my.cnf


#phpmyadmin
pma:
    image: phpmyadmin/phpmyadmin
    container_name: "sf_pma"
    links:
        - db
    ports:
        - 8081:80
    restart: always
    environment:
        - PMA_ARBITRARY=1
        - PMA_PORT=3306
        - PMA_HOST=db
        - PMA_USER=root
        - PMA_PASSWORD=root


#elasticsearch
elasticsearch:
    image: "elasticsearch:1.3"
    container_name: "sf_elasticsearch"
    volumes:
        - "./docker/data/elasticsearch/:/usr/share/elasticsearch/data"
    ports:
        - 9201:9200


#memcached server
memcached:
  image: memcached
  container_name: "sf_memcached"
  ports:
    - "112112:11211"